{% extends "base/base_login.html" %}
{% block content %}
<div class="login-box">


      
        <div class="panel panel-primary">
        <!-- Default panel contents -->
  <div class="panel-heading">
  <div class="login-logo header">
         <img src="/static/img/bam2.png" />
                <h4>Notification Broadcasting Technology</h4>
      </div><!-- /.login-logo -->
      
          <div class="panel panel-default">
        <div class="login-box-body">
				<div class="alert alert-info" ><center>Has been sent an email to your inbox</center></div>
          </div>
                      </div>
        </form>
     
      </div><!-- /.login-box-body -->
      </div>
      </div>
    </div><!-- /.login-box -->
	
{% endblock %}
