{% extends "base/base_login.html" %}
{% block content %}
<div class="login-box">


      
        <div class="panel panel-primary">
        <!-- Default panel contents -->
  <div class="panel-heading">
  <div class="login-logo header">
                <h4>Fluendo ToDo</h4>
      </div><!-- /.login-logo -->
      
          <div class="panel panel-default">
        <div class="login-box-body">
				<div class="alert alert-info" ><center>Enter your email address </center></div>
                {% if form.email.errors %}  {{ form.email.errors }} {% endif %}
                <form method="post" action="">{% csrf_token %}
          <div class="form-group has-feedback">
            <input type="text" name="email" id="email" class="form-control" placeholder="Email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div >
              <button type="submit" class="btn btn-primary btn-block
                  btn-flat">Send</button>
            </div><!-- /.col -->
          </div>
        </form>
     
      </div><!-- /.login-box-body -->
      </div>
      </div>
    </div><!-- /.login-box -->
	
{% endblock %}
