{% extends "base/base_login.html" %}
{% block content %}
<div class="login-box">

      
        <div class="panel panel-primary">
        <!-- Default panel contents -->
  <div class="panel-heading">
  <div class="login-logo header">
                <h4>Fluendo ToDo</h4>
      </div><!-- /.login-logo -->
      
          <div class="panel panel-default">
        <div class="login-box-body">
			{% if validlink %}
			<form method="post" action="">{% csrf_token %}
                 
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
          
            <div class="form-group has-feedback">
            <input type="password" class="form-control" name="new_password1"
            id="new_password1" placeholder="New Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" name="new_password2"
            id="new_password2" placeholder="Confirm Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div >
              <button type="submit" class="btn btn-primary btn-block btn-flat">Change</button>
            </div><!-- /.col -->
          </div>
        </form>
        {% else %}     
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
      </div><!-- /.login-box-body -->
      </div>
      </div>
    </div><!-- /.login-box -->
	
{% endblock %}
